<ngx-spinner
  bdOpacity="0.9"
  bdColor="#fffdfd"
  size="medium"
  color="#4b9bc1"
  type="timer"
  [fullScreen]="true"
>
  <br />
  <p style="color: #4b9bc1">Loading...</p>
</ngx-spinner>

<!-- Hero Section end -->

<div class="col-12">
  <ngb-carousel style="width: auto;">
    <ng-template ngbSlide>
      <img
        src="../../assets/img/three.jpg"
        alt="Random second slide"
        style="width: 100%;
    height: 600px;"
      />
      <div class="carousel-caption">
        <h2 style="color:white;">Welcome to the future of Face Generating</h2>
        <p style="color:white;">
          Our goal is redefining how everyone used to think about face
          generation. Here we are using artificial intelligence to genarate
          faces according to a given description. Our goal is advancing face
          genaration. If this suceed we will be able to genarate faces
          accurately and fastly.
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img
        src="../assets/img/two.jpg"
        alt="Random third slide"
        style="width: 100%;
    height: 600px;"
      />
      <div class="carousel-caption">
        <h2 style="color:white;">Welcome to the future of Face Generating</h2>
        <p style="color:white;">
          Our goal is redefining how everyone used to think about face
          generation. Here we are using artificial intelligence to genarate
          faces according to a given description. Our goal is advancing face
          genaration. If this suceed we will be able to genarate faces
          accurately and fastly.
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img
        src="../assets/img/one.jpg"
        alt="Random fourth slide"
        style="width: 100%;
    height: 600px;"
      />
      <div class="carousel-caption">
        <h2 style="color:white;">Welcome to the future of Face Generating</h2>
        <p style="color:white;">
          Our goal is redefining how everyone used to think about face
          generation. Here we are using artificial intelligence to genarate
          faces according to a given description. Our goal is advancing face
          genaration. If this suceed we will be able to genarate faces
          accurately and fastly.
        </p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<!-- Hero Section end -->

<!-- Why Section end -->
<section class="why-section spad">
  <div class="container">
    <div class="text-center mb-5 pb-4">
      <h2>What are the unique things about us ?</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="icon-box-item">
          <div class="ib-icon">
            <i class="flaticon-012-24-hours"></i>
          </div>
          <div class="ib-text">
            <h5>Availabe 24 x 7</h5>
            <p>
              Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do
              eiusmod tem por incididunt ut labore et dolore mag na aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box-item">
          <div class="ib-icon">
            <i class="flaticon-036-customer-service"></i>
          </div>
          <div class="ib-text">
            <h5>Accurate Suggestions</h5>
            <p>
              Class aptent taciti sociosqu ad litora torquent per conubia
              nostra, per incep-tos himenaeos. Suspendisse potenti. Ut gravida
              mattis.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box-item">
          <div class="ib-icon">
            <i class="flaticon-039-info"></i>
          </div>
          <div class="ib-text">
            <h5>Developed using AI and machine learning</h5>
            <p>
              Conubia nostra, per inceptos himenae os. Suspendisse potenti. Ut
              gravida mattis magna, non varius lorem sodales nec. In libero
              orci.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-3">
      <a routerLink="/home" class="site-btn sb-big">Try Now !</a>
    </div>
  </div>
</section>
<!-- Why Section end -->

<!-- CTA Section end -->
<section class="help spad" data-setbg="../../assets/img/cta-bg.jpg">
	<div class="container">
		<div class="feature-item">
		  <div class="info-text">
			  <h5>Have you already tried <strong>The Face Generator </strong> ???</h5>
		  <h5> How you feel about that? What are your suggestions to improve this product? </h5>
		  <a href="#" class="site-btn sb-light sb-big">Tell Us Your Suggestions</a>
		  </div>
		</div>
	</div>
</section>

<!-- CTA Section end -->

<!-- Feature Section -->
<section class="feature-section spad">
  <div class="container">
    <div class="feature-item">
      <div class="row">
        <div class="feature-text">
			<div class="con">
          <h1 id="About"><b>Our Vision </b></h1>
          <h5>
            Our vison is advancing humanity by solving the world’s hardest
            problems. We believe that Artificial Intelligence and Machine
            Learning can be used to improve the lives of the people.
		  </h5>
			</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Section end -->

<!-- Help Section -->
<section class="help-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img
          src="../../assets/img/image.jpg"
          alt=""
          style="width:500px;height:400px"
        />
      </div>
      <div class="col-lg-7">
        <div class="info-text">
          <h2 id="contact">We’re here to help</h2>
          <h5>This product is available 24 x 7</h5>
          <p>
            Our product is very easy to use. You just have to enter the
            descriptions according to the guidelines that are provided to you.
          </p>
          <ul>
            <li>+011 2323 456</li>
            <li>contact@facegenerator.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div class="container">-->
<div class="row">
  <div id="fullScreenDiv">
    <img
      src="../../assets/img/coverr-sunshine-between-white-grapes-1570036541225.jpg"
      id="videosubstitute"
      alt="Full screen background video"
    />

    <div id="videoDiv">
      <video preload="preload" id="video" autoplay="autoplay" loop="loop">
        <source
          src="../../assets/img/coverr-sunshine-between-white-grapes-1570036541225.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div id="messageBox">
      <div>
        <h1>We are trying to advance humankind with the technology</h1>
        <h3>
          <a routerLink="/intro" class="scrolly"> Go to About us Page </a>
        </h3>
      </div>
    </div>
  </div>
</div>
<!--====== Javascripts & Jquery ======-->
<script src="../../assets/js/jquery-3.2.1.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assers/js/jquery.slicknav.min.js"></script>
<script src="../../assets/js/owl.carousel.min.js"></script>
<script src="../../assets/js/jquery-ui.min.js"></script>
<script src="../../assets/js/main.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
